# Build folders
build/
cmake-build-*/

# Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
.qtcreator/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Qt generated
moc_*.cpp
qrc_*.cpp
ui_*.h

# Executables
*.exe
*.dll
*.app

# Logs
*.log

# Temp files
*~*
*.TMP